.cover__subtitle {
  position: relative;
  max-width: 360px;
  text-align: center;
  font-size: 1.12rem;
  line-height: 1.3rem;
  margin: 0 auto;
  padding-top: 32px;
  
}

@media screen and (max-width: 1279px){
.cover__subtitle {
    
  }
}



@media screen and (max-width: 767px) {
.cover__subtitle {
      font-size: 0.875rem;
      line-height: 1rem;
      max-width: 288px;
      padding-top: 16px;
    }
}